/.DS_Store
/.editorconfig
/.git/
/.gitlab/
/.git*
/.idea/
/.vscode/
/.env.example
/.styleci.yml
/composer.sh
/pre-commit
/pre-commit-copy.sh
/README.md
/_tmp_
/Jenkinsfile

# Laravel folders
/node_modules/
/vendor/
/storage/logs/*
/storage/framework/cache/**
/storage/framework/sessions/**
/storage/framework/views/**
/app/Console/Commands/Dev/hooks/
/app/Console/Commands/Dev/stubs/

# Docker
/Dockerfile*
/.dockerignore
/docker-compose.yml
